body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{margin: 10px 0;}
code { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header ====================== */
.loading-state{text-align: center; color: rgb(255, 17, 0);font-style: italic;}

.card{box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);border-radius: 10px;}
.header{height: 80px; background-color: teal;position: sticky;top: 0;left: 0;right: 0;box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); display:flex ;justify-content: space-between;align-items: center;padding: 0 8%;}
.header h2{color: aliceblue; font-weight: 700;}
.cart-btn{padding: 10px; width: 120px; display: flex; gap: 10px;align-items: center;justify-content: center; color: aliceblue; background-color: brown;border: 0;border-radius: 50px;}
.cart-btn:hover, .modal-btn:hover{ background-color: rgba(165, 42, 42,0.9);cursor: pointer;}
.meal-img{max-width: 100%; height: 500px;width: 100%;}

.meal-card{background-color: rgb(101 101 101 / 70%); backdrop-filter: blur(10px);height: 200px; color: brown;font-size: 20px;font-weight: 500;max-width: 1000px;  margin:-100px auto 0; padding: 5px 20px;}
.add-meal-card{background-color: #fff; padding: 10px 20px;max-width: 1000px; margin:30px auto;}
.dy-meals{display: flex; align-items: center; list-style: none;justify-content: space-between;width: 100%;}
.meals-added{background-color: rgba(240, 86, 25, 0.883);margin-bottom: 20px; display: flex; padding: 10px;justify-content: space-between; }
.pricing{color: rgb(255, 255, 255);font-size: 20px; font-weight: 600;}
ul{padding: 0;}

.input-item-label{font-size: 18px; font-weight: 500;color: aliceblue;}
.input-item-input{padding: 5px; border: 1px solid black;border-radius: 5px;width: 25px; }
.meal-form .cart-btn{margin-top: 5px; width: 70px;}

/* cart-modal ============================= */
/* #overlay{position: fixed ;top: 0;left: 0;right: 0;bottom: 0; z-index: 10;background-color: rgba(0, 0, 0, 0.3);height: 100%; width: 100%;} */
.backdrop{position: fixed ;top: 0;left: 0;right: 0;bottom: 0; z-index: 10;background-color: rgba(0, 0, 0, 0.5);height: 100%; width: 100%;}
.modal-overlay{position: fixed;top: 0; left: 0;right: 0;bottom: 0;z-index: 11;background-color: aliceblue;height: fit-content; width: 500px;margin: auto; padding: 20px;border-radius: 10px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);}
.cart-modal-data{display: flex;justify-content: space-between;}
.cart-modal-data span{font-size: 18px;font-weight: 500;color: tomato;}
.cartItems{list-style: none;padding: 0;}
.cartItems li{font-weight: bold;font-size: 20px;}
.modal-btn{margin-top: 10px; padding:10px ;font-size: 15px;font-weight: 500;  border-radius: 50px;border: 0;width: 120px; margin-left: 10px; text-align: center; }
.close-btn{border: 1px solid brown;background-color: aliceblue;color: rgb(0, 0, 0);}
.order-btn{border: 1px solid transparent;background-color: brown;color: rgb(255, 255, 255);justify-content: center; display: flex;gap: 10px; align-items: center;}
.close-btn:hover{color:aliceblue;}
.cart-btn-groups{display:flex;justify-content: flex-end;}

.cartItem-li{display: flex; align-items: center;justify-content: space-between;padding: 20px 0; border-bottom: 1px solid grey;}
.cartItem-summary h4{margin: 0;font-style: italic;} 
.cartItem-price{margin-left: 20px;}
.cartItem-dataItems{display: flex; align-items: center;margin-top: 10px;}
.cartItem-amount{font-size: 16px; color: rgb(47, 48, 46);}
.items-btn{margin-right: 10px;margin-top: 10px;padding: 5px 10px;color: black;font-size: 15px;font-weight: 600; text-align: center; border-radius: 5px; background-color: transparent;border: 1px solid black;}
.items-btn:hover, .items-btn:focus, .items-btn:active{background-color:tomato;border: 1px solid transparent; color: #fff;}

/* checkout form ========================= */

.inputFields-control{display: flex; flex-direction: column; gap:5px; margin-bottom: 20px;}
.inputFields-control label{font-size: 18px; font-weight: 500;color: rgb(19, 19, 19);}
.inputFields-control input{padding:10px;font-size: 18px; border: 1px solid black; border-radius: 5px; }

.invalid{color: red; margin-bottom: 20px; }
.invalid p{color: red; }
.invalid input{border-color: red; }
.order-btn:disabled{background-color: grey;cursor: not-allowed;}
.cart-items-number{font-weight: 600; background-color: #fff; color: brown; border-radius: 50px; padding: 5px;width: 15px; height: 15px;}
.order-btn:disabled .cart-items-number{color: grey;}














